
.main-features{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 153, 153);
    margin: 15px;
    height: 15rem;
    width: 15rem;
    border-radius: 5px;
}

