body {
    margin: 0;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 81vh 9vh;

    grid-template-areas:
        "header"
        "main"
        "footer";

}

.header {
    display: flex;
    grid-area: header;
}

.main {
    display: flex;
    height: 100%;
    grid-area: main;
    background-color: rgb(240, 240, 240);
}

.footer {
    grid-area: footer;
}


.note-list {
    margin-top: 50px;
    display: flexbox;
    height: 70%;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.note-preview {
    position: static;
    float: left;
    box-sizing: content-box;
    background-color: white;
    border: 1px solid;
    margin-left: 5px;
    width: 15rem;
}

.note-contant {
    background-color: aqua;
    word-break:break-all;
    flex: 1;
}