.note-list {
    position: relative;
    margin-top: 30px;
    height: auto;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: masonry;
    background-color: white;
}

.set-type-btn {
    height: 30px;
    width: 100px;
    border: none;
}

.video-area {
    position: relative;
    display: flex;
    justify-content: center;
}